<header id="status_header">
  <h1>Welcome to Treebook!</h1>
</header>
<hr>
<%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>
<hr>

<% @statuses.each do |status| %>
	<% if signed_in? && !current_user.has_blocked?(status.user) || !signed_in? %>

		<div class="status">
			<div class="row">
				<div class="col-md-1">
					<a href="/<%= status.user.profile_name %>"><%= image_tag status.user.gravatar_url %></a>
				</div>
				<div class="col-md-7" style="margin-left: 20px;">
				  <strong><%= status.user.full_name %></strong>
				  <p><%= status.content %></p>
				  <div class="meta">
				    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
				    <span class="admin">
				      | <%= link_to "Edit", edit_status_path(status) %> |
				      <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this status?"} %>
			  	  </div>
			  	</div>
		    </div>
		</div>

	<% end %>
<% end %>
