<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	    	</button>
	      <% if user_signed_in? %>
	      <%= link_to "Treebook", activities_path, class: 'navbar-brand' %>
	      <% else %>
	      <%= link_to "Treebook", root_path, class: 'navbar-brand' %>
	      <% end %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><%= link_to "All Statuses", feed_path %></li>
	        <% if user_signed_in? %>
	        	<li id="activity-feed"><%= link_to "Activity Feed", activities_path %></li>
	        <% end %>
	      </ul>

	     <!--  Right side of the Navigation Bar -->
	      <ul class="nav navbar-nav navbar-right">
	      	<% if user_signed_in? %>
	      		<li><%= link_to 'Albums', albums_path(current_user) %></li>
	      		<li><%= link_to 'Friends', user_friendships_path %></li>
	        	<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
	        	<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	        <% else %>
	        	<li><%= link_to "Log In", login_path %></li>
	        	<li><%= link_to "Register", register_path %></li>
	        <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


	<div class="container">
		<%= render_breadcrumbs ( "" ) %>  <!--+++++ From the twitter-bootstrap-rails gem ++++-->

		<% if flash[:notice] %>
			<div class="alert alert-success" role="alert">
				<button class="close" data-dismiss="alert">x</button>
				<%= flash[:notice] %>
			</div>
    	<% end %>

    	<% if flash[:alert] %>
			<div class="alert alert-danger" role="alert">
				<button class="close" data-dismiss="alert">x</button>
				<%= flash[:alert] %>
			</div>
    	<% end %>

		<%= yield %>
	</div>
</body>

<script id="activities-template" type="text/x-handlebars-template">
	<a class="dropdown-toggle" href="#">Activity Feed ({{count}})</a>
	<ul class="dropdown-menu">
	{{#each activities}}
		{{activityLink}}
	{{/each}}
	<li class="divider"></li>
	<li><a href="{{activityFeedLink}}">Activity Feed</a></li>
	</ul>
</script>
</html>







